<hr class="my-5">
<mdb-card class="col-md-12">
  <mdb-card-header class="text-center purple lighten-3">
    <h5 class="mb-0">
      <strong>
        <span *ngIf="isAdmin">Today Elder Alerts for Heart Rate</span>
        <span *ngIf="!isAdmin">Today summary</span>
      </strong>
    </h5>
  </mdb-card-header>
  <mdb-card-body>
    <table mdbTable class="text-center" hover="true" small="true" *ngIf="isAdmin">
      <thead>
        <tr>
          <th>Name</th>
          <th>Current Location</th>
          <th>Average Heart Rate <mdb-icon fas icon="heart yellow-text"></mdb-icon></th>
          <th>Heart Rate Alert <mdb-icon fas icon="heart red-text"></mdb-icon></th>
          <th>Date - Time</th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let heart_rate of heartRateAlerts; let i = index">
          <td>
            <a
              [routerLink]="['/elder-profile/', heart_rate.user_id]"
              routerLinkActive="router-link-active"
              *ngIf="i > 0 ? heartRateAlerts[i].name != heartRateAlerts[i-1].name : true"
            >
              {{ heart_rate.name }}
            </a>
          </td>
          <td>
            <span *ngIf="i > 0 ? heartRateAlerts[i].name != heartRateAlerts[i-1].name : true">
              <mdb-icon fas icon="circle" [ngClass]="{'green-text': heart_rate.location, 'red-text': !heart_rate.location}"></mdb-icon>
              {{ heart_rate.location ? 'Indoor' : 'Outdoor'}}
            </span>
          </td>
          <td>{{ heart_rate.average }}</td>
          <td [ngClass]="{'red-text font-weight-bold': heart_rate.max == heart_rate.heart_rate}">{{ heart_rate.heart_rate }}</td>
          <td [ngClass]="{'red-text font-weight-bold': heart_rate.max == heart_rate.heart_rate}">{{ heart_rate.date | date: 'dd.MMM - HH:mm' }}</td>
        </tr>
      </tbody>
    </table>

    <div class="row" *ngIf="!isAdmin">
      <div class="col-md-6" *ngIf="todayHeartRates">
        <mdb-card class="my-3">
          <mdb-card-header class="text-center red lighten-3">
            <h6 class="mb-0">
              <strong>
                Heart Rate
              </strong>
            </h6>
          </mdb-card-header>
          <mdb-card-body>
            <div class="row mb-2">
              <div class="col-md-8 mx-auto text-center">
                <mdb-icon fas icon="heartbeat" size="3x" class="red-text"></mdb-icon>
                <h5 class="font-weight-bold mt-3">
                  {{ averageHeartRate(todayHeartRates) }} bpm <small class="text-muted">on average</small>
                </h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table mdbTable hover="true" small="true" class="text-center" mdbTableScroll scrollY="true" maxHeight="200">
                  <thead>
                    <tr>
                      <th>Time</th>
                      <th>Heart Rate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let rate of todayHeartRates">
                      <td>{{ rate.created_at | date: 'HH:mm' }}</td>
                      <td>{{ rate.heart_rate }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-md-6" *ngIf="todayActivities">
        <mdb-card class="my-3">
          <mdb-card-header class="text-center green lighten-3">
            <h6 class="mb-0">
              <strong>
                Activity
              </strong>
            </h6>
          </mdb-card-header>
          <mdb-card-body>
            <div class="row mb-2">
              <div class="col-md-5 offset-md-1 text-center">
                <mdb-icon fas icon="shoe-prints" size="3x"></mdb-icon>
                <h5 class="font-weight-bold mt-3">
                  {{ averageActivity(todayActivities).averageSteps }} steps
                </h5>
              </div>
              <div class="col-md-5 text-center">
                <mdb-icon fas icon="walking" size="3x"></mdb-icon>
                <h5 class="font-weight-bold mt-3">
                  {{ averageActivity(todayActivities).averageDistance }} m
                </h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table mdbTable hover="true" small="true" class="text-center" mdbTableScroll scrollY="true" maxHeight="200">
                  <thead>
                    <tr>
                      <th>Time</th>
                      <th>Steps</th>
                      <th>Distance</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let rate of todayActivities">
                      <td>{{ rate.created_at | date: 'HH:mm' }}</td>
                      <td>{{ rate.hour_steps }}</td>
                      <td>{{ rate.hour_distance * 1000 }} m</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3" *ngIf="todaySleepHours">
        <mdb-card class="my-3">
          <mdb-card-header class="text-center brown white-text">
            <h6 class="mb-0">
              <strong>
                Sleep
              </strong>
            </h6>
          </mdb-card-header>
          <mdb-card-body>
            <div class="row mb-2">
              <div class="col-md-4 mx-auto text-center brown-text">
                <mdb-icon fas icon="bed" size="3x"></mdb-icon>
                <h5 class="font-weight-bold mt-3">
                  {{ todaySleepHours[0].sleeping_hours }} hours
                </h5>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </mdb-card-body>
</mdb-card>
