<hr class="my-5">
<h3 class="text-center font-weight-bold my-5" *ngIf="elder">{{elder.name}} profile details</h3>
<div class="row mt-4">
  <mdb-card class="col-md-12">
    <mdb-card-header class="text-center green lighten-3">
      <h6 class="mb-0 font-weight-bold">Contact information and today measurements</h6>
    </mdb-card-header>
    <mdb-card-body class="p-0">
      <div class="row mb-2 align-items-center" *ngIf="elder">
        <div class="col-md-6 border-right">
          <div class="row">
            <div class="col-md-6 text-center border-right"><strong>Name:</strong></div>
            <div class="col-md-6 text-center"><strong>Username:</strong></div>
            <div class="col-md-6 text-center border-right">{{ elder.name }}</div>
            <div class="col-md-6 text-center">{{ elder.username }}</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6 text-center border-right"><strong>Email:</strong></div>
            <div class="col-md-6 text-center"><strong>Phone:</strong></div>
            <div class="col-md-6 text-center border-right">{{ elder.email }}</div>
            <div class="col-md-6 text-center">{{ elder.phone }}</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6 text-center border-right"><strong>Gender:</strong></div>
            <div class="col-md-6 text-center"><strong>Blood Type:</strong></div>
            <div class="col-md-6 text-center border-right">{{ elder.gender }}</div>
            <div class="col-md-6 text-center" [ngClass]="{'text-muted': elder.blood_type == null}">
              {{ elder.blood_type == null ? '- Not defined yet -' : elder.blood_type }}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6 text-center border-right"><strong>Weight:</strong></div>
            <div class="col-md-6 text-center"><strong>Height:</strong></div>
            <div class="col-md-6 text-center border-right" [ngClass]="{'text-muted': elder.weight == null}">
              {{ elder.weight == null ? '- Not defined yet -' : elder.weight }}</div>
            <div class="col-md-6 text-center" [ngClass]="{'text-muted': elder.height == null}">
              {{ elder.height == null ? '- Not defined yet -' : elder.height }}
            </div>
          </div>
          <hr>
          <div class="row" *ngIf="elder && elder.caretaker_id">
            <div class="col-md-6 offset-md-3 text-center"><strong>Caretaker:</strong></div>
            <div class="col-md-6 offset-md-3 text-center">{{elder.caretaker.name}}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 my-5 mx-auto text-center">
              <mdb-icon fas icon="heartbeat" size="3x" class="red-text"></mdb-icon>
              <h5 class="font-weight-bold mt-3">
                {{ elder.heart_rates[elder.heart_rates.length - 1].heart_rate }} bpm <small class="text-muted"> at {{ elder.activities[elder.activities.length - 1].created_at | date: 'HH:mm' }}</small>
              </h5>
            </div>
            <div class="col-md-6 my-5 mx-auto text-center">
              <mdb-icon fas icon="bed" size="3x"></mdb-icon>
              <h5 class="font-weight-bold mt-3">
                {{ elder.sleep_hours[elder.sleep_hours.length - 1].sleeping_hours }} hours <small class="text-muted"> slept yesterday</small>
              </h5>
            </div>
            <div class="col-md-6 my-5 mx-auto text-center">
              <mdb-icon fas icon="shoe-prints" size="3x"></mdb-icon>
              <h5 class="font-weight-bold mt-3">
                {{ calculateStepsAndDistance(elder.activities).totalSteps }} steps <small class="text-muted">  until {{ elder.activities[elder.activities.length - 1].created_at | date: 'HH:mm' }}</small>
              </h5>
            </div>
            <div class="col-md-6 my-5 mx-auto text-center">
              <mdb-icon fas icon="walking" size="3x"></mdb-icon>
              <h5 class="font-weight-bold mt-3">
                {{ calculateStepsAndDistance(elder.activities).totalDistance }} m <small class="text-muted"> until at {{ elder.activities[elder.activities.length - 1].created_at | date: 'HH:mm' }}</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </mdb-card-body>
  </mdb-card>
</div>
<h6 class="font-weight-bold text-center my-5">Activity details for today</h6 >
<div class="row">
  <div class="col-md-12">
    <canvas mdbChart
        [chartType]="chartType"
        [datasets]="chartDatasetsActivity"
        [labels]="chartLabelsActivity"
        [colors]="chartColorsActivity"
        [options]="chartOptions"
        [legend]="true"
      >
    </canvas>
  </div>
</div>

<h6 class="font-weight-bold text-center my-5">Heart Rate details for today</h6 >
<div class="row">
  <div class="col-md-12">
    <canvas mdbChart
        [chartType]="chartType"
        [datasets]="chartDatasetsHeart"
        [labels]="chartLabelsHeart"
        [colors]="chartColorsHeart"
        [options]="chartOptions"
        [legend]="true"
      >
    </canvas>
  </div>
</div>

<h6 class="font-weight-bold text-center my-5">Sleep Hours / day</h6 >
  <div class="row">
    <div class="col-md-12">
      <canvas mdbChart
          [chartType]="chartType"
          [datasets]="chartDatasetsSleep"
          [labels]="chartLabelsSleep"
          [colors]="chartColorsSleep"
          [options]="chartOptions"
          [legend]="true"
        >
      </canvas>
    </div>
  </div>

  <hr class="my-5">
