<div style="height: 100vh;">
  <div class="flex-center">
    <mdb-card class="col-md-10">
      <mdb-card-header class="green accent-2 text-center">
        <h5 class="mb-0">
          <strong>Sign in</strong>
        </h5>
      </mdb-card-header>
      <mdb-card-body class="px-lg-5">
        <form [formGroup]="loginForm" class="text-center" (ngSubmit)="onSubmit(loginForm)">

          <!-- Username -->
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="md-form">
                <input
                  type="text"
                  id="username"
                  class="form-control"
                  formControlName="username"
                  mdbInput
                  mdbValidate
                  required
                />
                <label for="username">Username or Email Address</label>

                <mdb-error
                  *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
                >
                  <span *ngIf="loginForm.get('username')?.errors['required']">
                    Username or email address is required!
                  </span>
                </mdb-error>
              </div>
            </div>
          </div>

          <!-- Password -->
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="md-form">
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  formControlName="password"
                  autocomplete="off"
                  mdbInput
                  mdbValidate
                  required
                />
                <label for="password">Your password</label>
                <mdb-error
                  *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                >
                  <span *ngIf="loginForm.get('password')?.errors['required']">
                    Password is required!
                  </span>
                </mdb-error>
                <mdb-error *ngIf="error | async">
                  <span>{{ error | async }}</span>
                </mdb-error>
              </div>
            </div>
          </div>

          <!-- Sign in button -->
          <div class="row">
            <div class="col-md-6 mx-auto">
              <button
                color="success"
                block="true"
                class="my-4 waves-effect"
                mdbWavesEffect
                mdbBtn
                type="submit"
                [disabled]="!loginForm.valid"
              >
                Sign in
              </button>
            </div>
          </div>

        </form>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
