<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark ie-nav fixed-top deep-purple" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo navbar-brand" [routerLink]="['home']"><strong>Elder Monitor App</strong></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mx-auto" *ngIf="isAuth | async">
            <li class="nav-item waves-light" mdbWavesEffect>
              <a mdbBtn class="nav-link mr-5" outline="true" color="warning" size="sm" (click)="adminMenu = !adminMenu" *ngIf="!adminMenu && isAdmin">Caretaker Menu</a>
              <a mdbBtn class="nav-link mr-5" outline="true" color="success" size="sm" (click)="adminMenu = !adminMenu" *ngIf="adminMenu && isAdmin">Elder Menu</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect [routerLinkActive]="['active']" *ngIf="!adminMenu">
                <a class="nav-link" [routerLink]="['profile']">My Profile</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect [routerLinkActive]="['active']" *ngIf="!adminMenu">
                <a class="nav-link" [routerLink]="['activity']">Activity</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect [routerLinkActive]="['active']" *ngIf="!adminMenu">
                <a class="nav-link" [routerLink]="['heart']">Heart Rate</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect [routerLinkActive]="['active']" *ngIf="!adminMenu">
                <a class="nav-link" [routerLink]="['sleep']">Sleep Monitor</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect [routerLinkActive]="['active']" *ngIf="adminMenu">
              <a class="nav-link" [routerLink]="['my-elders']">My Elders</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect [routerLinkActive]="['active']" *ngIf="adminMenu">
              <a class="nav-link" [routerLink]="['elders']">All Elders</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect [routerLinkActive]="['active']" *ngIf="adminMenu">
              <a class="nav-link" [routerLink]="['caretakers']">Caretakers</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item waves-light" mdbWavesEffect [routerLinkActive]="['active']" *ngIf="!(isAuth | async)">
                <a class="nav-link" [routerLink]="['login']">Login</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect [routerLinkActive]="['active']" *ngIf="!(isAuth | async)">
                <a class="nav-link" [routerLink]="['register']">Register</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect [routerLinkActive]="['active']" *ngIf="(isAuth | async)">
                <a class="nav-link" (click)="onLogout()">Logout</a>
            </li>
        </ul>
    </links>
</mdb-navbar>
