<hr class="my-5">
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="md-form">
      <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
             mdbInput>
      <label for="search-input">Search Elder</label>
    </div>
  </div>
  <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
    <thead class="sticky-top">
    <tr>
      <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements" [sortBy]="headElements[i]"
          scope="col">{{head | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
      </th>
    </tr>
    </thead>
    <tbody #row>
      <tr *ngIf="isLoading">
        <td colspan="9">
          <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>
        </td>
      </tr>
      <tr mdbTableCol *ngFor="let el of elements; let i = index">
        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{el.id}}</th>
        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" >
          <a
            [routerLink]="['/elder-profile/', el.id]"
            routerLinkActive="router-link-active"
          >
          {{el.name}}
          </a>
        </th>
        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" >{{el.heart_rate}}</th>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.sleep_hours}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.steps}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{+el.distance}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
          <mdb-icon fas icon="circle" [ngClass]="{'green-text': el.location, 'red-text': !el.location}"></mdb-icon>
          {{ el.location ? 'Indoor' : 'Outdoor'}}
        </td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
          <span *ngIf="el.caretaker">
            {{el.caretaker}}
            <button
              mdbBtn
              type="button"
              color="link"
              size="sm"
              (click)="assignCaretaker(el.id)"
              class="p-0"
            >
              <span class="red-text">(Change)</span>
            </button>
          </span>
          <span *ngIf="!el.caretaker" class="text-muted">
            <button
              mdbBtn
              type="button"
              color="link"
              size="sm"
              (click)="assignCaretaker(el.id)"
            >
              <span class="green-text">Assign Caretaker</span>
            </button>
          </span>
        </td>
      </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
    <tr>
      <td colspan="9">
        <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="elements"></mdb-table-pagination>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
