<hr class="my-5">
<div class="row align-items-center">
  <div class="col-md-5 text-center">
    <button
      mdbBtn
      type="button"
      color="secondary"
      outline="true"
      size="sm"
      (click)="selectCaretaker()"
    >
      Select new Caretaker
    </button>
  </div>
  <div class="col-md-5 mx-auto">
    <div class="md-form">
      <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
             mdbInput>
      <label for="search-input">Search Caretaker/Elder</label>
    </div>
  </div>
  <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
    <thead class="sticky-top">
    <tr>
      <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements" [sortBy]="headElements[i]"
          scope="col">{{head | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
      </th>
    </tr>
    </thead>
    <tr *ngIf="isLoading">
      <td colspan="6">
        <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>
      </td>
    </tr>
    <tbody #row mdbTableCol *ngFor="let el of elements; let i = index">
      <tr>
        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{el.id}}</th>
        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.name}}</th>
        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.email}}</th>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.phone}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.elders_count}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
          <a
          type="button"
          mdbBtn
          color="link"
          class="my-0 hover-shadow px-2 py-1 green-text"
          *ngIf="el.collapsed && el.elders_count > 0"
          (click)="el.collapsed = !el.collapsed"
        >
          <small>View Elders<mdb-icon fas icon="angle-right" class="ml-1"></mdb-icon></small>
        </a>
        <a
          type="button"
          mdbBtn
          color="link"
          class="my-0 hover-shadow px-2 py-1 red-text"
          *ngIf="!el.collapsed"
          (click)="el.collapsed = !el.collapsed"
        >
          <small>Hide Elders<mdb-icon fas icon="angle-down" class="ml-1"></mdb-icon></small>
        </a>
        <a
          type="button"
          mdbBtn
          color="link"
          class="my-0 hover-shadow px-2 py-1 blue-text"
          (click)="assignElder(el.id)"
        >
          <small>Assign Elder</small>
        </a>
        </td>
      </tr>
      <tr *ngIf="!el.collapsed">
        <td colspan="100%" style="border: 0 !important;" class="p-0">
          <table mdbTable class="white-text" small="true">
            <thead class="secondary-color-dark">
              <tr>
                <th [mdbTableSort]="el.elders" sortBy="id" scope="col" class="pl-2">Id</th>
                <th [mdbTableSort]="el.elders" sortBy="name" scope="col" class="pl-2">Name</th>
                <th [mdbTableSort]="el.elders" sortBy="heart_rate" scope="col" class="pl-2">Heart Rate</th>
                <th [mdbTableSort]="el.elders" sortBy="sleep_hours" scope="col" class="pl-2">Sleep Hours</th>
                <th [mdbTableSort]="el.elders" sortBy="steps" scope="col" class="pl-2">Steps</th>
                <th [mdbTableSort]="el.elders" sortBy="distance" scope="col" class="pl-2">Distance</th>
                <th [mdbTableSort]="el.elders" sortBy="location" scope="col" class="pl-2">Location</th>
              </tr>
            </thead>
            <tbody *ngFor="let elder of el.elders; let elderIndex = index">
              <tr class="secondary-color">
                <td class="pl-4">{{ elder.id }}</td>
                <td class="pl-4">
                  <a
                    [routerLink]="['/elder-profile/', elder.id]"
                    routerLinkActive="router-link-active"
                  >
                    {{elder.name}}
                  </a>
                </td>
                <td class="pl-4">{{ elder.heart_rate }}</td>
                <td class="pl-4">{{ elder.sleep_hours }}</td>
                <td class="pl-4">{{ elder.steps }}</td>
                <td class="pl-4">{{ elder.distance }}</td>
                <td class="pl-4">
                  <mdb-icon fas icon="circle" [ngClass]="{'green-text': elder.location, 'red-text': !elder.location}"></mdb-icon>
                  {{ elder.location ? 'Indoor' : 'Outdoor'}}
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
    <tr>
      <td colspan="6">
        <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="elements"></mdb-table-pagination>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
