<div class="modal-header">
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="modal-title w-100" id="myModalLabel">Choose the caretaker for this elder</h4>
</div>
<div class="modal-body">
  <form [formGroup]="assignCaretakerForm" class="text-center" (ngSubmit)="onSubmit(assignCaretakerForm)">

    <!-- Caretaker -->
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="md-form my-3">
          <mdb-select-2
            placeholder="Choose a caretaker"
            label="Caretaker"
            formControlName="caretaker"
            mdbValidate
            required
          >
            <mdb-select-option *ngFor="let option of caretakerOptions" [value]="option.value">{{ option.label }}</mdb-select-option>
          </mdb-select-2>
        </div>
      </div>
    </div>

    <!-- Submit button -->
    <div class="row">
      <div class="col-md-6 mx-auto">
        <button
          color="primary"
          block="true"
          class="my-4 waves-effect"
          mdbWavesEffect
          mdbBtn
          type="submit"
          [disabled]="!assignCaretakerForm.valid"
        >
          Assign Caretaker
        </button>
      </div>
    </div>

  </form>
</div>
