<hr class="my-5">
<div class="alert alert-success" role="alert" *ngIf="showAlert">
  {{ alertMessage }}
</div>
<div class="row">
  <mdb-card class="col-md-12">
    <mdb-card-header class="text-center lighten-3" [ngClass]="{'deep-purple': !editMode, 'yellow': editMode}">
      <h5 class="mb-0">
        <strong>{{ currentUser.name }} profile
          <span *ngIf="!editMode">details</span>
          <span *ngIf="editMode">update</span>
        </strong>
      </h5>
    </mdb-card-header>
    <mdb-card-body>
      <div class="row justify-content-center">
        <div class="switch">
          <label>
            Profile Details
            <input type="checkbox" (change)="editMode = !editMode">
            <span class="lever"></span> Edit Profile
          </label>
        </div>
      </div>
      <hr>
      <div *ngIf="!editMode">
        <div class="row">
          <div class="col-md-6 text-center border-right"><strong>Name:</strong></div>
          <div class="col-md-6 text-center"><strong>Username:</strong></div>
          <div class="col-md-6 text-center border-right">{{ currentUser.name }}</div>
          <div class="col-md-6 text-center">{{ currentUser.username }}</div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 text-center border-right"><strong>Email:</strong></div>
          <div class="col-md-6 text-center"><strong>Phone:</strong></div>
          <div class="col-md-6 text-center border-right">{{ currentUser.email }}</div>
          <div class="col-md-6 text-center">{{ currentUser.phone }}</div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 text-center border-right"><strong>Gender:</strong></div>
          <div class="col-md-6 text-center"><strong>Blood Type:</strong></div>
          <div class="col-md-6 text-center border-right">{{ currentUser.gender }}</div>
          <div class="col-md-6 text-center" [ngClass]="{'text-muted': currentUser.blood_type == null}">
            {{ currentUser.blood_type == null ? '- Not defined yet -' : currentUser.blood_type }}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 text-center border-right"><strong>Weight:</strong></div>
          <div class="col-md-6 text-center"><strong>Height:</strong></div>
          <div class="col-md-6 text-center border-right" [ngClass]="{'text-muted': currentUser.weight == null}">
            {{ currentUser.weight == null ? '- Not defined yet -' : currentUser.weight }}</div>
          <div class="col-md-6 text-center" [ngClass]="{'text-muted': currentUser.height == null}">
            {{ currentUser.height == null ? '- Not defined yet -' : currentUser.height }}
          </div>
        </div>
      </div>
      <div *ngIf="editMode">
        <form [formGroup]="profileForm" class="text-center" (ngSubmit)="onSubmit(profileForm)">
          <div class="row">

            <!-- Name -->
            <div class="col-md-6">
              <div class="md-form my-3">
                <input
                  type="text"
                  id="name"
                  class="form-control"
                  formControlName="name"
                  mdbInput
                  mdbValidate
                  required
                />
                <label for="name">Full Name</label>

                <mdb-error
                  *ngIf="profileForm.get('name')?.invalid && profileForm.get('name')?.touched"
                >
                  <span *ngIf="profileForm.get('name')?.errors['required']">
                    Name is required!
                  </span>
                </mdb-error>
              </div>
            </div>

            <!-- Username -->
            <div class="col-md-6">
              <div class="md-form my-3">
                <input
                  type="text"
                  id="username"
                  class="form-control"
                  formControlName="username"
                  mdbInput
                  mdbValidate
                  required
                />
                <label for="username">Username</label>

                <mdb-error
                  *ngIf="profileForm.get('username')?.invalid && profileForm.get('username')?.touched"
                >
                  <span *ngIf="profileForm.get('username')?.errors['required']">
                    Username is required!
                  </span>
                </mdb-error>
              </div>
            </div>

          </div>

          <div class="row">

            <!-- Email -->
            <div class="col-md-6">
              <div class="md-form my-3">
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  formControlName="email"
                  mdbInput
                  mdbValidate
                  required
                />
                <label for="email">Your email address</label>

                <mdb-error
                  *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched"
                >
                  <span *ngIf="profileForm.get('email')?.errors['required']">
                    Email is required!
                  </span>
                  <span *ngIf="profileForm.get('email')?.errors['email']">
                    This is not a valid email address
                  </span>
                </mdb-error>
              </div>
            </div>

            <!-- Phone -->
            <div class="col-md-6">
              <div class="md-form my-3">
                <input
                  type="text"
                  id="phone"
                  class="form-control"
                  formControlName="phone"
                  mdbInput
                  mdbValidate
                  required
                />
                <label for="phone">Phone</label>

                <mdb-error
                  *ngIf="profileForm.get('phone')?.invalid && profileForm.get('phone')?.touched"
                >
                  <span *ngIf="profileForm.get('phone')?.errors['required']">
                    Phone is required!
                  </span>
                </mdb-error>
              </div>
            </div>

          </div>

          <div class="row">

            <!-- Gender -->
            <div class="col-md-6">
              <div class="md-form my-3">
                <mdb-select-2
                  placeholder="Choose your gender"
                  label="Gender"
                  formControlName="gender"
                  mdbValidate
                  required
                >
                  <mdb-select-option *ngFor="let option of genderOptions" [value]="option.value">{{ option.label }}</mdb-select-option>
                </mdb-select-2>
              </div>
            </div>

            <!-- Blood Type -->
            <div class="col-md-6">
              <div class="md-form my-3">
                <mdb-select-2
                  placeholder="Choose your blood type"
                  label="Blood Type"
                  formControlName="blood_type"
                >
                  <mdb-select-option *ngFor="let option of bloodTypeOptions" [value]="option.value">{{ option.label }}</mdb-select-option>
                </mdb-select-2>
              </div>
            </div>

          </div>

          <div class="row">

            <!-- Weight -->
            <div class="col-md-6">
              <div class="md-form my-3">
                <input
                  type="number"
                  id="weight"
                  class="form-control"
                  formControlName="weight"
                  min-="0"
                  mdbInput
                  mdbValidate
                />
                <label for="weight">Weight (in Kg)</label>

                <mdb-error
                  *ngIf="profileForm.get('weight')?.invalid && profileForm.get('weight')?.touched"
                >
                  <span *ngIf="profileForm.get('weight')?.errors['min']">
                    Weight cannot be less than 0
                  </span>
                </mdb-error>
              </div>
            </div>

            <!-- Height -->
            <div class="col-md-6">
              <div class="md-form my-3">
                <input
                  type="number"
                  id="height"
                  class="form-control"
                  formControlName="height"
                  mdbInput
                  mdbValidate
                />
                <label for="height">Height (in cm)</label>

                <mdb-error
                  *ngIf="profileForm.get('height')?.invalid && profileForm.get('height')?.touched"
                >
                  <span *ngIf="profileForm.get('height')?.errors['min']">
                    Height cannot be less than 0
                  </span>
                </mdb-error>
              </div>
            </div>

          </div>

          <div class="row">

            <!-- Password -->
            <div class="col-md-6">
              <div class="md-form my-3">
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  formControlName="password"
                  autocomplete="off"
                  mdbInput
                  mdbValidate
                />
                <label for="password">Password</label>
              </div>
            </div>

            <!-- Password Confirm -->
            <div class="col-md-6">
              <div class="md-form my-3">
                <input
                  type="password"
                  id="password_confirm"
                  class="form-control"
                  formControlName="password_confirm"
                  autocomplete="off"
                  mdbInput
                  mdbValidate
                />
                <label for="password_confirm">Password confirm</label>
                <mdb-error>
                  <span *ngIf="profileForm.get('password_confirm').errors?.mustMatch">
                    Password confirm needs to match the password!
                  </span>
                </mdb-error>
              </div>
            </div>

          </div>

          <div class="row my-3">
            <button
              mdbBtn
              type="submit"
              color="success"
              class="mx-auto"
              [disabled]="!profileForm.valid"
            >
              Update Profile
            </button>
          </div>
        </form>
      </div>
    </mdb-card-body>
  </mdb-card>
</div>
<div class="row mt-4">
  <mdb-card class="col-md-12">
    <mdb-card-header class="text-center green lighten-3">
      <h5 class="mb-0">
        <strong>Today last measurements</strong>
      </h5>
    </mdb-card-header>
    <mdb-card-body>
      <div class="row mb-2">
        <div class="col-md-3 mx-auto text-center">
          <mdb-icon fas icon="heartbeat" size="3x" class="red-text"></mdb-icon>
          <h5 class="font-weight-bold mt-3" *ngIf="currentUser">
            {{ currentUser.heart_rates[currentUser.heart_rates.length - 1].heart_rate }} bpm <small class="text-muted"> at {{ currentUser.activities[currentUser.activities.length - 1].created_at | date: 'HH:mm' }}</small>
          </h5>
        </div>
        <div class="col-md-3 mx-auto text-center">
          <mdb-icon fas icon="shoe-prints" size="3x"></mdb-icon>
          <h5 class="font-weight-bold mt-3" *ngIf="currentUser">
            {{ calculateStepsAndDistance(currentUser.activities).totalSteps }} steps <small class="text-muted">  until {{ currentUser.activities[currentUser.activities.length - 1].created_at | date: 'HH:mm' }}</small>
          </h5>
        </div>
        <div class="col-md-3 mx-auto text-center">
          <mdb-icon fas icon="walking" size="3x"></mdb-icon>
          <h5 class="font-weight-bold mt-3" *ngIf="currentUser">
            {{ calculateStepsAndDistance(currentUser.activities).totalDistance }} m <small class="text-muted"> until at {{ currentUser.activities[currentUser.activities.length - 1].created_at | date: 'HH:mm' }}</small>
          </h5>
        </div>
        <div class="col-md-3 mx-auto text-center">
          <mdb-icon fas icon="bed" size="3x"></mdb-icon>
          <h5 class="font-weight-bold mt-3" *ngIf="currentUser">
            {{ currentUser.sleep_hours[currentUser.sleep_hours.length - 1].sleeping_hours }} hours <small class="text-muted"> slept yesterday</small>
          </h5>
        </div>
      </div>
    </mdb-card-body>
  </mdb-card>
</div>
