<div style="height: 90vh;">
  <div class="flex-center">
    <mdb-card class="col-md-10">
      <mdb-card-header class="blue accent-1 text-center">
        <h5 class="mb-0">
          <strong>Register</strong>
        </h5>
      </mdb-card-header>
      <mdb-card-body class="px-lg-5">
        <form [formGroup]="registerForm" class="text-center" style="color: #673ab7;" (ngSubmit)="onSubmit(registerForm)">

          <!-- Name -->
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="md-form my-3">
                <input
                  type="text"
                  id="name"
                  class="form-control"
                  formControlName="name"
                  mdbInput
                  mdbValidate
                  required
                />
                <label for="name">Full Name</label>

                <mdb-error
                  *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched"
                >
                  <span *ngIf="registerForm.get('name')?.errors['required']">
                    Name is required!
                  </span>
                </mdb-error>
              </div>
            </div>
          </div>

          <!-- Username -->
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="md-form my-3">
                <input
                  type="text"
                  id="username"
                  class="form-control"
                  formControlName="username"
                  mdbInput
                  mdbValidate
                  required
                />
                <label for="username">Username</label>

                <mdb-error
                  *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched"
                >
                  <span *ngIf="registerForm.get('username')?.errors['required']">
                    Username is required!
                  </span>
                </mdb-error>
              </div>
            </div>
          </div>

          <!-- Email -->
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="md-form my-3">
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  formControlName="email"
                  mdbInput
                  mdbValidate
                  required
                />
                <label for="email">Your email address</label>

                <mdb-error
                  *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
                >
                  <span *ngIf="registerForm.get('email')?.errors['required']">
                    Email is required!
                  </span>
                  <span *ngIf="registerForm.get('email')?.errors['email']">
                    This is not a valid email address
                  </span>
                </mdb-error>
              </div>
            </div>
          </div>

          <!-- Phone -->
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="md-form my-3">
                <input
                  type="text"
                  id="phone"
                  class="form-control"
                  formControlName="phone"
                  mdbInput
                  mdbValidate
                  required
                />
                <label for="phone">Phone</label>

                <mdb-error
                  *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched"
                >
                  <span *ngIf="registerForm.get('phone')?.errors['required']">
                    Phone is required!
                  </span>
                </mdb-error>
              </div>
            </div>
          </div>

          <!-- Gender -->
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="md-form my-3">
                <mdb-select-2
                  placeholder="Choose your gender"
                  label="Gender"
                  formControlName="gender"
                  mdbValidate
                  required
                >
                  <mdb-select-option *ngFor="let option of genderOptions" [value]="option.value">{{ option.label }}</mdb-select-option>
                </mdb-select-2>
              </div>
            </div>
          </div>

          <!-- Password -->
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="md-form my-3">
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  formControlName="password"
                  autocomplete="off"
                  mdbInput
                  mdbValidate
                  required
                />
                <label for="password">Password</label>
                <mdb-error
                  *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                >
                  <span *ngIf="registerForm.get('password')?.errors['required']">
                    Password is required!
                  </span>
                </mdb-error>
              </div>
            </div>
          </div>

          <!-- Password confirm -->
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="md-form my-3">
                <input
                  type="password"
                  id="password_confirm"
                  class="form-control"
                  formControlName="password_confirm"
                  autocomplete="off"
                  mdbInput
                  mdbValidate
                  required
                />
                <label for="password_confirm">Password confirm</label>
                <mdb-error
                  *ngIf="registerForm.get('password_confirm')?.invalid && registerForm.get('password_confirm')?.touched"
                >
                  <span *ngIf="registerForm.get('password_confirm')?.errors['required']">
                    Password confirmation is required!
                  </span>
                </mdb-error>
                <mdb-error>
                  <span *ngIf="registerForm.get('password_confirm').errors?.mustMatch">
                    Password confirm needs to match the password!
                  </span>
                </mdb-error>
              </div>
            </div>
          </div>

          <!-- Register button -->
          <div class="row">
            <div class="col-md-6 mx-auto">
              <button
                color="primary"
                block="true"
                class="my-4 waves-effect"
                mdbWavesEffect
                mdbBtn
                type="submit"
                [disabled]="!registerForm.valid"
              >
                  <span *ngIf="!(isLoading)">Register</span>
                  <span *ngIf="(isLoading)" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              </button>
            </div>
          </div>

        </form>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>

